NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBxrGobrYCwq7VG924CpVfon8YAVs9eq3M
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=attendence-a9e5e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=attendence-a9e5e
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=attendence-a9e5e.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1063387161099
NEXT_PUBLIC_FIREBASE_APP_ID=1:1063387161099:web:d2c1f562b2b8e7c906dd0e
FIREBASE_PROJECT_ID=attendence-a9e5e
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@attendence-a9e5e.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nPASTE_YOUR_PRIVATE_KEY_HERE\n-----END RSA PRIVATE KEY-----\n"
API_SECRET_KEY=a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
CRON_SECRET=f6e5d4c3b2a1f6e5d4c3b2a1f6e5d4c3b2a1f6e5d4c3b2a1f6e5d4c3b2a1f6e5
NEXTAUTH_SECRET=9z8y7x6w5v4u3t2s1r0q9z8y7x6w5v4u3t2s1r0
NEXTAUTH_URL=http://localhost:3000
DEVICE_POLL_INTERVAL_MS=30000
DEVICE_API_TIMEOUT_MS=10000